
@import url('https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900|Sedan+SC');


:root {
  --primary-color: #3498db; 
  --secondary-color: #f1c40f; 
  --accent1-color: #8e44ad; 
  --accent2-color: #2ecc71; 

  --font-family: 'Merriweather', serif;
  --heading-font: 'Playfair Display', serif;
  --paragraph-font: 'Lato', sans-serif;

  --nav-background-color:#black;
  --nav-link-color: #fff;
  --nav-hover-color: #ccc;
  --nav-hover-background-color: #444;
}

body {
  font: var(--paragraph-font) 1rem/1.5;
  max-width: 960px;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--nav-background-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:hover {
  color: var(--nav-hover-color);
  background-color: var(--nav-hover-background-color);
}