
main img {
  width: 150px;
  height: auto;
  border: 2px solid var(--steel-blue);
  padding: 5px;
  box-shadow: 0 8px 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
  @media (max-width: 768px) {
  margin: 0 auto;
  }
}


.box {
  margin: 1rem;
  border: 1px solid rgba(red, green, blue, alpha); 
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

:root {
    --steel-blue: steelblue;
  }

.box{
  margin: 1rem;
  border: 1px solid rgba(red, green, blue, alpha);
  padding: 1rem;
  background-color: #ddd;
  color:#000;
}
aside h2{
  position: absolute;
  top: 85px;
  left: 180px;
}
  
  main {
    max-width: 640px;
  }
  
  nav a {
    background-color: var(--steel-blue);
    padding: 10px;
  }
  
  nav a {
    color: white;
    padding: 10px;
    display: block;
  }
  
  h1 {
    color: var(--steel-blue);
  }
  
  
  
  p {
    padding: 0;
  }
  
  aside {
    width: 20em;
   text-align: center;
   position: relative;
  }
  
  aside img {
    width: 200px;
    height: auto;
  }
  
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    main,
    aside {
      width: 100%;
    }
  }
